In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
file = "Resources/purchase_data.csv" 

pymoli_df = pd.read_csv(file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
totalplayer = pymoli_df['SN'].value_counts()
totalplayercount = totalplayer.count()

totalplayer_df = pd.DataFrame({"Total Players" : [totalplayercount]})
totalplayer_df

   Total Players
0            576

In [4]:
items = pymoli_df['Item ID'].value_counts()
no_items = len(items)
#print("Number of unique items : " + str(no_items))

avg_price = pymoli_df['Price'].mean()
#print("Average Price : " + str(avg_price))

total_purchases = pymoli_df['Price'].count()
#print("Total Purchases : " + str(total_purchases))

revenue = pymoli_df['Price'].sum()
#print("Revenue : " + str(revenue))

new_df = pd.DataFrame({"Unique Items" : [no_items],
                        "Average Purchase Price" : [avg_price],
                        "Total Purchases" : [total_purchases],
                        "Revenue" : [revenue]})


new_df

   Unique Items  Average Purchase Price  Total Purchases  Revenue
0           183                3.050987              780  2379.77

In [5]:
pymoli_cleandf = pymoli_df.drop_duplicates(subset=["SN", "Gender"], keep="first")

gender = pymoli_cleandf['Gender'].value_counts()
gender_d = dict(gender)
gendercount = pymoli_cleandf['Gender'].count()

malecount_cl = gender_d['Male']
maleperc = (malecount_cl / gendercount)
maleperc = maleperc * 100
maleperc = round(maleperc, 2)

femalecount_cl = gender_d['Female']
femaleperc = (femalecount_cl / gendercount) * 100
femaleperc = round(femaleperc, 2)

nonbincount_cl = gender_d['Other / Non-Disclosed']
nonbinperc = nonbincount_cl / gendercount
nonbinperc = nonbinperc * 100 
nonbinperc = round(nonbinperc, 2)


genderlist = [ (str(malecount_cl), str(maleperc)),
             (str(femalecount_cl), str(femaleperc)) ,
             (str(nonbincount_cl), str(nonbinperc) )]


dfGender = pd.DataFrame(genderlist, columns = ['Total Count' , 'Total Percentage',], index=['Male', 'Female', 'Nonbinary'])
dfGender

          Total Count Total Percentage
Male              484            84.03
Female             81            14.06
Nonbinary          11             1.91

In [6]:
#PURCHASE COUNT BY GENDER
purchasecount = pymoli_df['Gender'].value_counts()
purchasecount_d = dict(purchasecount)
#purchasecount = pymoli_df['Price'].count()

malecount = purchasecount_d['Male']
femalecount= purchasecount_d['Female']
nonbincount = purchasecount_d['Other / Non-Disclosed']

#PURCHASE
sumofgender = pymoli_df.groupby('Gender')['Price'].sum()
sumofgender_d = dict(sumofgender)

malesum = sumofgender_d['Male']
malesum = round(malesum, 2)           
femalesum = sumofgender_d['Female']
femalesum = round(femalesum, 2)
nonbinsum = sumofgender_d['Other / Non-Disclosed']
nonbinsum = round(nonbinsum, 2)

avg_pricemale = round((malesum / malecount), 2)
avg_pricefemale = round((femalesum / femalecount), 2)
avg_pricenon = round((nonbinsum / nonbincount), 2)

#print(purchase)
print(avg_pricemale)
print(malesum)

3.02
1967.64

In [7]:
# totalplayer = pymoli_df.groupby(['Gender'])['SN'].value_counts()
# totalplayer_d = dict(totalplayer)
# #totalplayercount = totalplayer.groupby['Gender')
# #print(totalplayer_d['Female'])
# # print(totalplayer_d[('Female', 'Chamjask73')])

# totalplayer_dval = totalplayer_d.values()
# #print(totalplayer_dval)

In [8]:
# sumpppg = pymoli_df.groupby('Gender')['Price'].sum()
# sumpppg_d = dict(sumpppg)
# #totalplayercount = totalplayer.groupby['Gender')
# #print(sumpppg_d[('Female', 'Chamjask73')])

# #sumpppg_dval = sumpppg_d.values()
# print(sumpppg_d)

In [9]:
# avg_purchase_total_by_gender = []
# for count_purchases in totalplayer_dval:
#     for total_purchases in sumpppg_dval:
#         avg_purchase_total_by_gender.append(total_purchases / count_purchases)
        
#print(avg_purchase_total_by_gender)


male_avgpurch = round((malesum / malecount_cl), 2)
female_avgpurch = round((femalesum / femalecount_cl), 2)
nonbin_avgpurch = round((nonbinsum / nonbincount_cl), 2)

In [10]:
PurchAnal = [(str(malecount), str(avg_pricemale), str(malesum), str(male_avgpurch)) ,
             (str(femalecount), str(avg_pricefemale), str(femalesum), str(female_avgpurch)) ,
             (str(nonbincount), str(avg_pricenon), str(nonbinsum), str(nonbin_avgpurch))]

PurchAnal_df = pd.DataFrame(PurchAnal, columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person',], index=['Male', 'Female', 'Nonbinary'])
PurchAnal_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.2,361.94,4.47
Nonbinary,15,3.35,50.19,4.56

In [11]:
pymoli_clean_age = pymoli_df.drop_duplicates(subset=["SN", "Age"], keep="first")
clean_count = pymoli_clean_age.count()

bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
names = ['<10', '10-14', '15-19', '20-24', '24-29', '30-34', '35-39', '40+']
#sn_count = []

pymoli_test = pymoli_clean_age.groupby(pd.cut(pymoli_clean_age['Age'], bins, labels=names))['SN'].count()
pymoli_test_d = dict(pymoli_test)
#print(pymoli_test_d)

sn_count = pymoli_test_d.values()
sn_count_list = list(sn_count)

sn_percount = []
for item in sn_count_list:
    perc_count = round( ((item / totalplayercount) * 100.00), 2 )
    sn_percount.append(perc_count)
#print(pymoli_test_d)

age_df = pd.DataFrame(
    {'Total Count': sn_count_list,
     'Percentage of Players': sn_percount,
    }, index=names)
age_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
24-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [12]:
#PURCHASE COUNT BY AGE
pymoli_agecount = pymoli_df.groupby(pd.cut(pymoli_df['Age'], bins, labels=names))['SN'].count()
pymoli_agecount_d = dict(pymoli_agecount)
pymoli_agecount_list = list(pymoli_agecount_d.values())
#print(pymoli_agecount_list)

#Total Purchase Value 
pymoli_agepurch = pymoli_df.groupby(pd.cut(pymoli_df['Age'], bins, labels=names))['Price'].sum()
pymoli_agepurch_d = dict(pymoli_agepurch)
pymoli_agepurch_list = list(pymoli_agepurch_d.values())
#print(pymoli_agepurch_d)

# pymoli_avgpurch = []
# for sumpurch in pymoli_agepurch_list:
#     for count in pymoli_agecount_list:
#         pymoli_avgpurch.append(sumpurch/count)

avpurchage = [pymoli_agepurch_list,pymoli_agecount_list]
avpurchage_list = [(x/y) for x,y in zip(*avpurchage)]



avpurchage_pp = [pymoli_agepurch_list,sn_count_list]
avpurchage_pp_list = [(x/y) for x,y in zip(*avpurchage_pp)]
        
print(avpurchage_pp_list)

[4.537058823529412, 3.7627272727272723, 3.85878504672897, 4.3180620155038785, 3.805194805194803, 4.115384615384615, 4.763548387096773, 3.186666666666667]

In [13]:
purchanalage_df = pd.DataFrame(
    {'Purchase Count': pymoli_agecount_list,
     'Average Purchase Price': avpurchage_list,
     'Total Purchase Value': pymoli_agepurch_list,
     'Avg Total Purchase per Person': avpurchage_pp_list,
    }, index=names)
purchanalage_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
24-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [14]:
purchSN = pymoli_df.groupby('SN')['Price'].sum()
purchSN_d = dict(purchSN)
purchSN_d_index = sorted(purchSN_d, key=purchSN_d.get, reverse=True)[:5]

purchSN_d_values = [ purchSN_d[purchSN_d_index[0]], 
                    purchSN_d[purchSN_d_index[1]], 
                    purchSN_d[purchSN_d_index[2]], 
                    purchSN_d[purchSN_d_index[3]], 
                    purchSN_d[purchSN_d_index[4]] ]

purchSN_count = pymoli_df.groupby('SN')['Price'].count()
purchSN_count_d = dict(purchSN_count)

purchSN_d_count = [ purchSN_count_d[purchSN_d_index[0]], purchSN_count_d[purchSN_d_index[1]], purchSN_count_d[purchSN_d_index[2]], purchSN_count_d[purchSN_d_index[3]], purchSN_count_d[purchSN_d_index[4]] ]
                    
#print(purchSN_d_count)


avgtop5 = [purchSN_d_values,purchSN_d_count]
avgtop5_list = [(x/y) for x,y in zip(*avgtop5)]

In [15]:
top5_df = pd.DataFrame(
    {'Purchase Count': purchSN_d_count,
     'Average Purchase Price': avgtop5_list,
     'Total Purchase Value': purchSN_d_values,
    }, index=purchSN_d_index)
top5_df

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [16]:
#TOP 5 PURCHASES, BY ID 

popularItem = pymoli_df['Item ID'].value_counts()
popularItem_d = dict(popularItem)
popularItem_d_index = sorted(popularItem_d, key=popularItem_d.get, reverse=True)[:5]
#TOP 5 AND PURCHASE COUNT
popularItem_d_values = [ popularItem_d[popularItem_d_index[0]], 
                        popularItem_d[popularItem_d_index[1]], 
                        popularItem_d[popularItem_d_index[2]], 
                        popularItem_d[popularItem_d_index[3]], 
                        popularItem_d[popularItem_d_index[4]] ]

#print(popularItem_d_values)

#Getting ID and Name 
popularItm = pymoli_df.groupby('Item ID')['Item Name'].value_counts()
popularItm_d = dict(popularItm)
popularItm_d_index = sorted(popularItm_d, key=popularItm_d.get, reverse=True)[:5]
popularItm_d_index_d = dict(popularItm_d_index)
popularItm_d_index_d_keys = list(popularItm_d_index_d.keys())
popularItm_d_index_d_values = list(popularItm_d_index_d.values())


#TOP 5 AND THEIR TOTAL PURCHASE SUM 
popularItem_sum = pymoli_df.groupby('Item ID')['Price'].sum()
popularItem_sum_d = dict(popularItem_sum)
popularItem_sum_d_values = list(popularItem_sum_d.values())

popularItem_sum_d_sorted = sorted(popularItem_sum_d.values(), reverse=True)[:5]
#popularItem_d_sum = [popularItem_sum_d[popularItem_sum_d_sorted[0]], 
#                      popularItem_sum_d[popularItem_sum_d_sorted[1]], 
#                      popularItem_sum_d[popularItem_sum_d_sorted[2]], 
#                      popularItem_sum_d[popularItem_sum_d_sorted[3]], 
#                      popularItem_sum_d[popularItem_sum_d_sorted[4]]]


#print(popularItem_d_sum)


#print(popularItem_ID_d_index_d_keys)

#FINDING PRICE

popularItem_price = pymoli_df.groupby('Item ID')['Price'].value_counts()
popularItem_price_d = dict(popularItem_price)
popularItem_price_d_index = sorted(popularItem_price_d, key=popularItem_price_d.get, reverse=True)[:5]
popularItem_price_d2_index = dict(popularItem_price_d_index)
popularItem_price_d2_index_values = list(popularItem_price_d2_index.values())                          


#popularItem_price = pymoli_df('Item Name')['Price'].value_counts()
#popularItem_price_d = dict(popularItem_price)
#popularItem_price_d_values = list(popularItem_price_d.values())
#popularItem_price_d_index = sorted(popularItem_price_d, key=popularItem_price_d.get, reverse=True)[:5]


Totalpurchaseval = [] 
for i in range(0, len(popularItem_d_values)):
     Totalpurchaseval.append(popularItem_d_values[i]*popularItem_price_d2_index_values[i]) 
        
        
#print(Totalpurchaseval)
#print(popularItem_sum_d_values)
print(popularItm)

In [17]:
top5items_df = pd.DataFrame(
    {'Item ID': popularItm_d_index_d_keys,
    'Name': popularItm_d_index_d_values,
     'Purchase Count': popularItem_d_values,
     'Item Price': popularItem_price_d2_index_values,
     'Total Purchase Value': Totalpurchaseval,
    },)
top5items_df

,Item ID,Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,145,Fiery Glass Crusader,9,4.58,41.22
4,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [165]:
profitableItem_sum = pymoli_df.groupby('Item ID')['Price'].sum()
profitableItem_sum_d = dict(profitableItem_sum)
#
profitableItem_d_index = sorted(profitableItem_sum_d, key=profitableItem_sum_d.get, reverse=True)[:5]
profitableItem_d_sum = [ profitableItem_sum_d[profitableItem_d_index[0]], 
                        profitableItem_sum_d[profitableItem_d_index[1]], 
                        profitableItem_sum_d[profitableItem_d_index[2]], 
                        profitableItem_sum_d[profitableItem_d_index[3]], 
                        profitableItem_sum_d[profitableItem_d_index[4]] ]

                   



profitableName = pymoli_df.groupby(['Item Name','Item ID'])['Price'].sum()
profitableName_d = dict(profitableName)
profitableName_d_index = sorted(profitableName_d, key=profitableName_d.get, reverse=True)[:5]
profitableName_d_index_d = dict(profitableName_d_index)
profitableName_d_index_d_keys = list(profitableName_d_index_d.keys())
profitableName_d_index_d_values = list(profitableName_d_index_d.values())

#print(profitableName_d_index_d_keys)


profitablePrice = pymoli_df.groupby(['Price','Item ID'])['Price'].sum()
profitablePrice_d = dict(profitablePrice)
profitablePrice_d_index = sorted(profitablePrice_d, key=profitablePrice_d.get, reverse=True)[:5]
profitablePrice_d_index_d = dict(profitablePrice_d_index)
profitablePrice_d_index_d_keys = list(profitablePrice_d_index_d.keys())
profitablePrice_d_index_d_values = list(profitablePrice_d_index_d.values())

#print(profitablePrice_d_index_d_keys)


profitableCount = pymoli_df.groupby('Item ID').agg({'Price': ['count','sum']}).reset_index()
profitableCount.sort_values([('Price', 'sum'), ('Price', 'count')], ascending=False)
#profitableCount.columns = profitableCount.columns.droplevel()
#profitableCount.columns = profitableCount.columns.droplevel()


#profitableCount = pd.DataFrame(pymoli_df.groupby('Item ID')['Price'].count())

profitableCount_zip = zip(profitableCount['count'], profitableCount['sum'])
#profitableCount_d = dict(profitableCount)
#profitableCount_d_index = sorted(profitableCount_d, key=profitableCount_d.get, reverse=True)[:5]

# profitableCount_count = profitableCount[[('Price', 'count')]]
# profitableCount = profitableCount.drop[['Item ID']]
# profitableCount_count_values = list(profitableCount_count_dict.values())

# profitableCount_sum = profitableCount[[('Price', 'sum')]]
# profitableCount_sum_dict = dict(profitableCount_sum)


#rofitableCount.sort_values(by=('Price', 'sum'), ascending=False)[:5]
#print(profitableCount)
print(profitableCount_zip)

#profitableCount_d = dict(profitableCount)
#profitableCount_d_values = list(profitableCount_d.values())

#profitableItem_sum_d = dict(profitableItem_sum)
#profitableCount_d_index = sorted(profitableCount, key=profitableCount.get, reverse=True)[:5]

# profitableCount_d_values = [ profitableCount_d[profitableCount_d_index[0]], 
#                         profitableCount_d[profitableCount_d_index[1]], 
#                         profitableCount_d[profitableCount_d_index[2]], 
#                         profitableCount_d[profitableCount_d_index[3]], 
#                         profitableCount_d[profitableCount_d_index[4]] ]


#profitableCount_d_index_d = dict(profitableCount_d_index)
# profitableCount_d_index_d_keys = list(profitableCount_d_index_d.keys())
# profitableCount_d_index_d_values = list(profitableCount_d_index_d.values())

KeyError: 'count'

In [166]:
top5profit_df = pd.DataFrame(
    {'Item ID': profitableItem_d_index,
    'Name': profitableName_d_index_d_keys,
     'Purchase Count': popularItem_d_values,
     'Item Price': profitablePrice_d_index_d_keys,
     'Total Purchase Value': profitableItem_d_sum,
    },)
top5profit_df

,Item ID,Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,145,Fiery Glass Crusader,9,4.58,41.22
3,92,Final Critic,9,4.88,39.04
4,103,Singed Scalpel,8,4.35,34.80